<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextCraftPro - Text Processing Tool</title>
    <link rel="icon" type="image/x-icon" href="../static/home_assets/textcraftpro.svg">
    <!-- Add the Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="container bg-body-tertiary rounded-3">
        <!-- hero section -->
        <div class="px-4 py-5 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="../static/home_assets/textcraftpro.svg" alt="" width="72" height="57">
            <h1 class="display-5 fw-bold text-body-emphasis">TextCraftPro</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Elevate your text processing experience! Analyze, extract, and transform with our NLP Tool. Instantly count words, tag parts of speech, extract keywords, and gauge sentiment. Unleash the power of natural language processing effortlessly!</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/process-text">
                    <button type="button" class="btn btn-lg px-4 gap-3 " style="color: white; background-color: #580EEB;">Get Started
                        <!-- <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"/></svg> -->
                    </button>
                </a>
              </div>
            </div>
        </div>
        <!-- end hero -->

        <!-- features section -->
        <div class="container px-4 py-3" id="icon-grid">
            <h2 class="pb-2 border-bottom">Features</h2>
        
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
              <div class="col d-flex align-items-start">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
                <div>
                  <h3 class="fw-bold mb-1 fs-4 text-body-emphasis">Word Count</h3>
                  <p>Calculate the total number of words, Sentences, Paragraphs, Characters in a text, providing a quick overview of its length.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
                <div>
                  <h3 class="fw-bold mb-1 fs-4 text-body-emphasis">Part of Speech Tagging</h3>
                  <p>Identify and label different parts of speech in a text for a deeper linguistic analysis.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
                <div>
                  <h3 class="fw-bold mb-1 fs-4 text-body-emphasis">Keyword Extraction</h3>
                  <p>Extract important keywords list and visual plot from a text, aiding in summarization and content analysis.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
                <div>
                  <h3 class="fw-bold mb-1 fs-4 text-body-emphasis">Sentiment Analysis</h3>
                  <p>Analyze text to determine whether it expresses a positive, negative, or neutral sentiment, useful for understanding emotional tone.</p>
                </div>
              </div>
            </div>
        </div>
        <!-- end feature -->
        <!-- how it works -->
        <h2 class="pb-2 border-bottom">How It Works?</h2>
        <div class="container">
            <div class="row align-items-md-stretch py-5">
                <div class="col-md-6">
                  <!-- <div class="h-100 p-5 text-bg-dark rounded-3"> -->
                  <div class="h-100 p-5 tbg-body-tertiary border rounded-3">
                    <h3 class="fw-bold fs-4 text-body-emphasis">Upload Text File</h3>
                    <p>Start by uploading your text file. Click on the "Choose a file" button and select a .txt file from your computer. Then select functionality and Click "Process".</p>
                  </div>
                </div>
            </div>
        </div>
        <!-- end how it works -->

        <!-- demo preview -->
        <div class="container px-4 py-3">
            <h2 class="pb-2 border-bottom">Functionalities Demo</h2>
            <div class="row py-5">
                <div class="col-md-3">
                    <img src="../static/home_assets/Word-count.png" class="img-thumbnail" alt="Image 1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                </div>
                <div class="col-md-3">
                    <img src="../static/home_assets/Sentiment-analysis.png" class="img-thumbnail" alt="Image 1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                </div>
                <div class="col-md-3">
                    <img src="../static/home_assets/Keyword-extraction.png" class="img-thumbnail" alt="Image 1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                </div>
                <div class="col-md-3">
                    <img src="../static/home_assets/partofspeech.png" class="img-thumbnail" alt="Image 1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                </div>
            </div>
            <!-- modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <img src="" alt="Image Preview" id="previewImage" class="img-fluid">
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- end demo -->

        <!-- subscription section -->
        <!-- <div class="container px-4 py-3">
            <div class="row justify-content-center">
              <div class="col-md-6 text-center">
                <h2>Subscribe for Updates</h2>
                <p>Stay in the loop with our latest news, updates, and exclusive offers.</p>
        
                <form>
                  <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscribeButton">
                    <button class="btn btn-primary" type="submit" id="subscribeButton">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
        </div> -->
        <!-- end subscription -->

        <!-- footer section -->
        <div class="container">
            <footer class="py-3 my-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="mailto:arefins106@gmail.com" class="nav-link px-2 text-body-secondary">Contact</a></li>
                <li class="nav-item"><a href="/privacy-policy" class="nav-link px-2 text-body-secondary">Privacy Policy</a></li>
                <li class="nav-item"><a href="/terms-and-conditions" class="nav-link px-2 text-body-secondary">Terms and Conditions</a></li>
              </ul>
              <p class="text-center text-body-secondary">&copy; 2023 TextCraftPro. All rights reserved. Developed by <a href="https://github.com/ShamimulArefin" target="_blank">Md Shamimul Arefin</a> &#10084;</p>
            </footer>
        </div>
        <!-- end footer -->
        
    </div>
    <!-- end body -->

    <!-- modal script to preview image -->
    <script>
        $(document).ready(function () {
          $('.img-thumbnail').click(function () {
            var imgSrc = $(this).attr('src');
            $('#previewImage').attr('src', imgSrc);
          });
        });
    </script>
    <!-- Add the Bootstrap JS and Popper.js scripts (required for Bootstrap components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>